*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedorPrincipal {
    height: 100vh;
    display: flex;
}

.izquierda{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F1014;
    
}

.logo_grande{
    filter: drop-shadow(0 0 5px #F8FAFF)
            drop-shadow(0 0 20px #F8FAFF);
    height: 560px;
    
}

.derecha{
    flex: 1;
    background-color:#0F1014;
    display: flex;
    justify-content: center;
    align-items: center
    
}

.contenidoFormulario{
    display: flex;
    justify-content: center;
}

.contenido{
    display: flex;
    flex-direction: column;
    gap: 35px;

}


.encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.forgot{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.inputCorreo{
    border-radius: 50px;
    border: none;
    width: 340px;
    height: 50px;
    padding: 0px 23px;
    border: none;
    background-color: #09090C;
    color: white;
}

.inputCorreo:focus{
    outline: none;
}

.campoCorreo{
    position: relative;
}

.txtEmail{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: InventorFont;
    font-size: 11px;
    position: absolute;
    top: 17px;
    left: 23px;
    font-weight: 600;
    

}

.inputCorreo:focus + .txtEmail{
    top: 3px;
    transition: 0.2s;
}

.btnSendEmail{
    border-radius: 50px;
    border: none;
    width: 340px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
    font-family: InventorFont;
}


.btnSendEmail:hover{
    box-shadow: 0 0 7px rgb(255, 255, 255);
    transition: 0.2s;
   
}

.title{
    font-family: InventorFont;
    color: white;
}

.desc{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8C8C99
}

@font-face {
    font-family: "InventorFont";
    src: url("fonts/GlacialIndifference-Regular.otf");
}

.returnArrow{
    position: absolute;
    top: 25px;
    left: 25px;
    text-decoration: none;
    color: white;
    font-family: InventorFont;
    font-size: 17px;
    cursor: pointer;
    transition: 0.2s;
}

.returnArrow:hover{
    filter: drop-shadow(0 0 10px white);
}